<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Garaademy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            {% if title == 'Home' %}
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
            {% else %}
            <a class="nav-link" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
            {% endif %}
            
          </li>
          <li class="nav-item">
            {% if title == 'Contact' %}
            <a class="nav-link active" href="{{ url_for('contact') }}">Contact</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            {% endif %}
            
          </li>
          <li class="nav-item">
            {% if title == 'Users' %}
            <a class="nav-link active" href="{{ url_for('get_users') }}">Users</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('get_users') }}">Users</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if title == 'Create user' %}
            <a class="nav-link active" href="{{ url_for('add_user') }}">Add user</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('add_user') }}">Add user</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if title == 'About' %}
            <a class="nav-link active" href="{{ url_for('about') }}">About</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
            {% endif %}
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>