{% extends 'base.html' %}


{% block content %}
<h1>Create user</h1>
    <div class="row " >
        <center>
        <div class="col-sm-6">
            <form method="post" action="/add_user">
             
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4 ">Username: </label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4 ">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                  </div>
            
                  <button type="submit" class="btn btn-primary mt-4">Submit</button>
              </form>
        </div>
    </center>
    </div>


{% endblock %}
